@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
}

ul,
ol {
  list-style-type: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
  }

  to {
    visibility: visible;
  }
}